// Descriptive color variables

$Danube: #5796CB;
$Canary: #FAFA6B;
$Aquamarine: #6BFABE;
$Torea-Bay: #0C20B0;
$Dark-Fern: #0B5011;
$Jagger: #420B50;
$Cardinal: #BC2023;
$Lima: #5AE92F;





// Media query breakpoint

$brk-wide: 768px;
